# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
build/
*.egg-info/

# Executable files
*.exe

# IDE specific files (e.g., for Visual Studio Code)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
